{% extends "base.html" %}

{% block app_content %}
 <div class="sidenav">
      <a href="{{ url_for('index')}}"><img border="0" alt="TC Logo" src="tclogo.png" width="50" height="50"></a><br>
      <!-- <img class="sidenav pic" src="tclogo.jpg" alt= "TC Logo"></> -->
      <c></c>
      <a href="{{ url_for('workspace', workspaceId = workspace.id) }}">{{workspace.workspaceName}}</a>
      <c>{{subgroup.name}}</c>
    </div>

    {% block scripts %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {% endblock %}

    <h1>{{ ('Search Results') }}</h1>
    {% for message in messages %}
        {% include 'messages.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ ('Previous results') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ ('Next results') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}