<html>
<head>
    <title>Title</title>
</head>
<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #B0C4DE;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 70px 0;
  text-align: center;
}
</style>
<body align="center">
<h1>
    Please fill out the form!
</h1>
<div>
        <form action="" method="POST">
          Task Name: <input type="text" name="name"><br>
          Task Description: <input type="text" name="description"><br>
          Task Deadline Day: <input type="date" name="deadline_day"><br>
          Task Deadline Time: <input type="time" name="deadline_time"><br>
          Task Person Assigned: <select name="assigned_user" size="1">
          {% for m in members %}
          <option value="{{m.id}}">{{m.username}}</option>
          {% endfor %}
        </select><br>
          <button type="Submit"> Submit</button>
          </form>
</div>
</body>
</html>
